body {
  background-image: linear-gradient(#ffffff, #cecece);
}
.header{
    background-image: linear-gradient(#101d3a, #11264d);
}
.subheader{
      background-image: linear-gradient(#3f5d83, #3a5378);
}
main{
  
}
a{
  
}
.play-button{
  border: 5px solid;
  border-style: solid;
  border-color: #74a3ff;
  border-radius: 5%;
  background-image: linear-gradient(#3a72f9, #2852bc);
}
footer{
      background-image: linear-gradient(#b9b9b9, #828282);
}
.footer-img{
  width:40px;
  height:80px;
}
.playNOW{
  background-color: green;
  border-color: darkgreen;
  border: 5px solid;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
